:root {
  /* https://www.behance.net/gallery/133185623/Cyberpunk-2077User-Interface-(Part-2) */
  --bgrnd: #131313;
  --accent-2: rgba(79, 175, 180, 0.8);
  --accent-3: grey;
  --accent-4: orange;
  --text: rgba(255,255,255,0.8);
  --white-dull: rgba(255,255,255,0.5);
}

body {
  margin: 0 15%;
  font-family: 'Fira Code';
  font-size: 13px;
  background-color: var(--bgrnd);
  color: var(--text);
}

header {
  height: 20em;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
  font-family: 'Courier New', Courier, monospace
}

footer {
  height: 10em;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 4em;
}

h1 {
  font-size: 1.5em;
  /* font-family: 'Cambria'; */
}

h3 {
  font-size: 3.5em;
  color: var(--white-dull);
  font-family: 'Arial';
  line-height: 0;
}

ul {
  list-style-type: none;
  padding-left: 2em;
}

li {
  margin-bottom: 5px;
}

#displayImage {
  border-radius: 10px;
  border: 1px solid var(--text);
  max-width: 80%;
  max-height: 50%;
}

#img-col {
  max-width: 25%;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.column {
  display: block;
}

.bio-text {
  color: var(--text)
}

/* === ITEM === */

.item-name {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0;
}

.item-name:hover {
  transform: scale(1.1); /* doesn't work for inline objects; bolding or bumping font-size displaces page */
  color: var(--accent-2);
}

.item-meta-1::before,
.item-meta-2::before,
.item-meta-3::before {
  /* these items are inline */
  content: " ";
}

.item-meta-1 {
  font-style: italic;
  color: var(--accent-3);
  font-size: 12px;
}

.item-meta-2 {
  font-size: 11px;
  font-style: italic;
  /* font-weight: bold; */
  color: var(--accent-2);
}

.item-meta-3 {
  font-size: 10px;
  /* font-style: italic; */
  /* font-weight: bold; */
  color: var(--accent-4);
}
