:root {
  /* https://www.behance.net/gallery/133185623/Cyberpunk-2077User-Interface-(Part-2) */
  --bgrnd: #131313;
  --accent-2: rgba(79, 175, 180, 0.8);
  --accent-3: grey;
  --accent-4: orange;
  --high-white: rgba(255,255,255,0.8);
  --medium-white: rgba(255,255,255,0.5);
}

header, footer {
  height: 10em; /* TODO too large on mobile */
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2em;
  font-family: 'Courier New', Courier, monospace
}

body {
  margin: 0 15% 3% 15%;
  font-family: 'Futura';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background-color: var(--bgrnd);
  color: var(--high-white);
}

.overall-container {
  display: flex;
  gap: 3em;
  margin-bottom: 5em;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14em);
  width: clamp(33%, 70%, 100%);
  padding: 1em;
  gap: 0;

  background: black;
  border-radius: 1em;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  gap: 3em 2em;
  width: clamp(33%, 80%, 100%);
  align-items: center;
}

.image-grid-item {
  max-width: 12em;
  border-radius: 10px;
}

.list {
  padding: 0 2em;
}

h1 {
  font-family: 'Futura';
  font-size: 1.5em;
}

h3 {
  font-size: 3em;
  font-family: 'Bodoni';
  line-height: 0;
  color: var(--medium-white);
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

li {
  margin-bottom: 5px;
}

#displayImage {
  border-radius: 10px;
  border: 1px solid var(--high-white);
  max-width: 80%;
  max-height: 50%;
}

#img-col {
  max-width: 25%;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.column {
  display: block;
}

.bio-text {
  color: var(--high-white)
}

/* === ITEM === */

.item-name {
  line-height: 0;
}

.item-name:hover {
  transform: scale(1.1); /* doesn't work for inline objects; bolding or bumping font-size displaces page */
  color: var(--accent-2);
}

.item-meta-1::before,
.item-meta-2::before,
.item-meta-3::before {
  /* these items are inline */
  content: " ";
}

.item-meta-1 {
  font-style: italic;
  color: var(--accent-3);
  font-size: 12px;
}

.item-meta-2 {
  font-size: 11px;
  font-style: italic;
  /* font-weight: bold; */
  color: var(--accent-2);
}

.item-meta-3 {
  font-size: 10px;
  /* font-style: italic; */
  /* font-weight: bold; */
  color: var(--accent-4);
}
